
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/angular/angular.js"></script>
  <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="column1">
            <div class="image-container">
                <img class="logo" src="assets/Logo.png" alt="BsuLogo" >
                <div class="overlay"></div>
              </div>
            <img ><br>
            <div class="logo1">
                <img class="minilogo" id="label1" src="assets/dashboard.png" alt="BsuLogo">
                <label class="label" id="label1">Dashboard</label><br>
            </div>
            <div class="logo1">
                <img class="minilogo" id="label1" src="assets/stock.png" alt="BsuLogo">
                <label class="label" id="label1">In Stock</label><br>
            </div>
            <div class="logo1">
                <img class="minilogo" id="label1"src="assets/aboutus.png" alt="BsuLogo">
                <label class="label" id="label1">About</label><br>
            </div>
        </div>
        <div class="column2">
            <div class="upper">
                <div class="upper1">
                    <label><h3 >Inventory Management System</h3></label>
                    <label><h1 style="color:red">Center for Entrpreneurship and Innovation</h1></label><br>    
                
                </div>
                    <div class="upper2">
                        <div class="profile1">
                            <img class="profilelogo" src="assets/user.png" >
                        </div>
                       <div class="profile2">
                        <label class="profilename">{{name}}</label><br>
                        <label class="profilerole">{{profile}}</label>
                       </div>
                    </div>  
            </div>
            <label><h1>In Stock</h1></label>
            <div class="subcontainer">
                
                <div class="c1">
                    <label>Code</label>
                </div>
                <div class="c2">
                    <label>Product Name</label>
                </div>
                <div class="c3">
                    <label>Category</label>
                </div>
                <div class="c4">   
                    <label>Unit of Measure</label>
                </div>
                <div class="c5">
                    <label>Quantity per Property Card</label>
                </div>
                <div class="c6">
                    <label>Quantity per Physical Card</label>
                </div>
                <div class="c7">
                    <label>Location</label>
                </div>
                <div class="c8">
                    <label>Condition</label>
                </div>
                <div class="c9">
                    <label>Specific Location</label>
                </div>
                <div class="c10">
                    <label>Project</label>
                </div>
                <div class="c11">
                    <label>Unit Cost</label>
                </div>
                <div class="c12">
                    <label>Total Cost</label>
                </div>
                <div class="c13">
                    <label>Date Acquired</label>
                </div>
                <div class="c14">
                    <label>Quanity</label>
                </div>
            </div>
        </div>
    </div>

    
</body>
</html>
