body {
  font-family: "Poppins";
}


.popup {
  top:20px;
  position: relative;
  display: inline-block;
}

.popup-content {
  width: 300px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1;
  left: 100%; /* Adjust this value as needed */
  top: 0;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 100;
  max-height: 200px; /* Adjust the maximum height as needed */
  overflow-y: auto; /* Enable vertical scrolling */
}

.popup-content.open {
  display: block;
}

.hover-label {
  cursor: pointer;
  font-family: "Poppins";
}
.TotalProduct{
  margin-left:55px;
}
.whitebg1 ,.whitebg2 ,.whitebg3 ,.whitebg4 ,.whitebg5 ,.whitebg6 {
  position:absolute;
  margin-top:250px;
}
.whitebg1{
  margin-left:150px;
}
.whitebg2{
  margin-left:380px;
}
.whitebg3{
  margin-left:610px;
}
.whitebg4{
  margin-left:840px;
}
.whitebg5{
  margin-left:1070px;
}
.whitebg6{
  margin-left:1300px;
}
.main1-txt{
  margin-left:250px;
}
.main2-txt{
  margin-left:470px;
}
.main3-txt{
  margin-left:710px;
}
.main4-txt{
  margin-left:940px;
}
.main5-txt{
  margin-left:1170px;
}
.main6-txt{
  margin-left:1400px;
}
.first-txt,.second-txt{
  margin-left:250px;
}
.third-txt,.fourth-txt{
  margin-left:470px;
}
.fifth-txt,.sixth-txt{
  margin-left:710px;
}
.seventh-txt,.eigth-txt{
  margin-left:940px;
}
.nineth-txt,.tenth-txt{
  margin-left:1170px;
}
.eleventh-txt{
  margin-left:1400px;
}
.main1-txt,.main2-txt,.main3-txt,.main4-txt,.main5-txt,.main6-txt{
  margin-top:30px;
  position:absolute;
  font-size:12px;
  top:330px;
}
.first-txt, .third-txt, .fifth-txt, .seventh-txt,.nineth-txt,.eleventh-txt{
  top:370px;
}
.second-txt,.fourth-txt,.sixth-txt,.eight-txt, .tenth-txt{
  top:380px;
}
.first-txt, .second-txt,.third-txt, .fourth-txt,.fifth-txt,.sixth-txt, .seventh-txt,.eight-txt,.nineth-txt, .tenth-txt,.eleventh-txt{
  margin-top:30px;
  position:absolute;
  font-size:12px;
}
.hidden {
  display: none;
}
.logo {
  margin-left: 20%;
  height: 80px;
  width: 100px;
  margin-top: 10px;
  margin-bottom: 0;
}
.subcontainer2 .qrtitle {
  font-size: 20px;
  font-family: "Poppins";
}
.hidden {
  display: none;
}
.subcontainer2 {
  position: fixed;
  height: 830px;

}
.error-message {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}
.column td {
  height: 50px;
}
.container4{
  width:100%;
  height:100%;
  text-align: center;
  align-items: center;
}
.dashboardbg {
  position: absolute;
  margin-top: 5%;
  margin-left: 6%;
  margin-right: 2%;
  width: 90%;
  height: 75%;
  border: 1px solid rgb(185, 181, 181);
  border-radius: 15px;
}
.container {


  position: fixed;
  padding: 0;
  margin: 0;
  display: flex;
  border-color: gray;
  padding: 0;
  margin-top: 29px;
  width: 120%;
  height: 920px;
}
.column1 .label {
  margin-bottom: 10%;

}
.column2 {
  margin-top: -23px;
  margin-left: 2%;
  width: 100%;
}
.column2 h3 {
  margin-top: 3%;
  margin-bottom: 0;
}
.content {
  position: relative;
  margin-top: 120px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: justify;
}
.content .p {
  margin-left: 70px;
  font-size: 20px;
  text-align: justify;
  font-family: "Poppin 250";
  color: #686565;
}
.subcontainer3 .content .head1 {
  text-align: center;
  color: #c00000;
  font-size: 18px;
  font-family: "Poppins";
}
.my-table {
  width: 150%;
}
.dev {
  margin-top: 0px;
  font-size: 18px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.profile .pic1 {
  border-radius: 15px;
  margin-top: -21px;
  width: 290px;
  height: 290px;
}
.resizable-table {
  table-layout: fixed;
  width: 100%;
}

.resizable-table th,
.resizable-table td {
  padding: 10px;
  resize: horizontal;
}
.resizable-table1 {
  table-layout: fixed;
  width: 100%;
  text-align: center;
}
.resizable-table {
  text-align: center;
  height: 50px;
}
.resizable-table1 th,
.resizable-table1 td {
  padding: 10px;
  resize: horizontal;
}

.scrollablecontent {
  font-size:12px;
  margin-left: 50px;
  display: flex;
  margin-top: -30px;
  width: 20%;
  overflow-y: scroll;
  overflow-x: scroll;
  width: 1600px; /* Adjust the width as needed */
  height: 770px;
}
.subcontainer {
  position: relative;
  height: 875px;
  display: block;
  box-shadow: 1px 2px 1px 1px rgb(255, 255, 255),
    -1px -2px 1px 1px rgb(185, 182, 182);
  background-image: linear-gradient(
    180deg,
    rgb(232, 231, 240),
    rgb(232, 231, 240)
  );
}
.itemcenter {
  width:100%;
  height:100%;
  align-items: center;
  text-align: center;
}
.itemcenter1 {
  align-items: left;
  text-align: left;
}
.qrtitle {
  font-family: "Poppins";
  font-size: 25px;
  font-weight: bolder;
  align-items: left;
  text-align: center;
}
.generate {
  font-size: 16px;
  width: 150px;
  height: 30px;
  margin-top: 14px;
}
.compiler1 {
  display: flex;
  margin-top: 5px;
  width:100%;
}
.thing2 {
  margin-top: 30px;
  margin-left: 10px;
  cursor: pointer;
}

.subcontainer2 .compiler1 .thing2 {
  margin-top: 27px;
  width: 2%;
  margin-left: 10px;
  margin-right:50%;
}
.logo2 {
  margin-top:15px;
  width: 40px;
  height: 40px;
  margin-left: 10%;
}
.subcontainer2 {

  width: 90%;
  height: 870px;
  display: block;
  box-shadow: 1px 2px 1px 1px rgb(255, 255, 255),
    -1px -2px 1px 1px rgb(185, 182, 182);
  background-image: linear-gradient(
    180deg,
    rgb(232, 231, 240),
    rgb(232, 231, 240)
  );
}
.thing0 {
  width:100%;
}
.upper3 {
  display: flex;
  margin-top: 5px;
  margin-left:10%;
  margin-right:10%;
  width:100%;
  height:100%;
}
.upper4 {
  margin-left: 5%;
}

.hidden {
  display: none;
}

.popupForm {
  background-color: #fefefe;
  border: 1px solid rgb(255, 255, 255);
  margin: 15% auto;
  padding: 20px;
  width: 100%;
  max-width: 500px;
}
.popupFormContainer {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.popupForm {
  background-color: #fefefe;
  border-radius: 15px;
  border: 3px solid rgb(105, 105, 105);
  border-style: solid;
  margin: 15% auto;
  padding: 20px;
  width: 50%;
  max-width: 500px;
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(
    180deg,
    rgb(232, 231, 240),
    rgb(232, 231, 240)
  );
}
.closeButton:hover,
.closeButton:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.closeButton {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.closeButton:hover,
.closeButton:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.qrbutton {
  margin-top: 26px;
  border: 2px solid rgb(253, 251, 251);
  background-color: #c00000;
  margin-right: 570px;
  border-radius: 15px;
  width: 114px;
  height: 35px;
  color: white;
  font-weight: bolder;
  font-size: 18px;
  cursor: pointer;
}
.qrcodeformat {
  width:80%;
  height:80%;
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 2px solid black;
}
.things {
  display: flex;
  margin-left: 25px;
  width:100%;
}

.codecontainer1,.codecontainer2,.codecontainer3{
  margin-left:5%;
}
.exportbutton{
  margin-top: 26px;
  border: 2px solid rgb(253, 251, 251);
  background-color: #c00000;
  border-radius: 15px;
  width: 100%;
  height: 35px;
  color: white;
  font-weight: bolder;
  font-size: 12px;
  cursor: pointer;
}
.thing5{
  margin-left:1%;
  width:5%
}
.thing1{
  width:17%;
  display:flex;
}
.import input{
  margin-bottom:0;
}
.export{
  margin-left:.8%;
  width:5%;
}
.import{
  margin-left:.5%;
  width:20%;
}
.form-container {
  display: flex;
  align-items: center; /* Align items vertically in the center */
}



.file-input {
  margin-top:25px;
  margin-left: 10px; /* Add some spacing between the button and the input */
  /* Optionally, you can style the input field to hide the default styles and show a custom button-like look */
  /* For example: */
  /* display: inline-block; */
  /* padding: 10px 20px; */
  /* border: 1px solid #007bff; */
  /* background-color: #fff; */
  /* color: #007bff; */
  /* cursor: pointer; */
}
.importbutton{
  margin-top:25px;
  bottom:20px;
  border: 2px solid rgb(253, 251, 251);
  background-color: #c00000;
  border-radius: 15px;
  width: 26%;
  height: 35px;
  color: white;
  font-weight: bolder;
  font-size: 12px;
  cursor: pointer;
}
.compiler .thing3 {
  display: flex;
  margin-left: 15%;
  width:10%;
}
.buttons1{
  margin-left:355%;
}
.buttons2{
  margin-left:60%;
}
.thing8{
  width:60%;
}
.subcontainer2 .thing3{
  width:2%;
  margin-left:21%;
}
.subcontainer2 .thing4{
  display: flex;
  width:2%;
  margin-left:7%;
}
.subcontainer .thing4{
  display: flex;
  margin-left:40%;
}
.var1{
  width:100%;
}
.var2 {

  margin-top: 15px;
  margin-left: 5px;
}
.var3 {
  margin-top: 29px;
  margin-left: 5px;
}
.subcontainer3 {
  position: fixed;
  height: 875px;
  display: block;
  box-shadow: 1px 2px 1px 1px rgb(255, 255, 255),
    -1px -2px 1px 1px rgb(185, 182, 182);
  background-image: linear-gradient(
    180deg,
    rgb(232, 231, 240),
    rgb(232, 231, 240)
  );
}
.upper {
  height: 81px;
  display: flex;
}
.dropdown {
  margin-top: 30px;
}
.upper2 {

  margin-top: 10px;
  margin-left: 37%;
  display: flex;
  font-weight: bold;
}
.subcontainer label {
  font-size: 20px;
  font-weight: bolder;
  width: 50px;

  margin-right: 50px;
}

.buttons {
  margin-top:15px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.ButtonsA {
  margin-top: 25px;
  margin-right:0;
  margin-left:-420px;
  width: 40px;
  height: 40px;

}
.ButtonsB {
  margin-top: 25px;
  margin-left: -370px;
  width: 40px;
  height: 40px;

}
.ButtonsC {
  margin-top: 25px;
  margin-left: -320px;
  width: 40px;
  height: 40px;

}
.profilelogo {
  width: 35px;
  height: 35px;
}
.profile {
  display: flex;
}
.profile label {
  font-weight: bold;
  font-size: 17px;

}
.profile1 {
  margin-top: 7px;
}
.profilerole {
  font-size: 12px;
}
.profilename {
  color: #c00000;
  font-size: 18px;
  margin-bottom: 10px;
}
.profile2 {
  margin-top: 6px;
  font-weight: bolder;
  margin-left: 10px;
  width: 200px;
  font-family: "Poppins", sans-serif;
}
.column2 h1 {
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  text-shadow: 1px 1px 1px black;
}
.instock {
  font-size: 17px;
  font-family: "Poppins";
  color: #c00000;
}
.instock2 {
  font-size: 17px;
  font-family: "Poppins";
  color: #c00000;
}
.minilogo {
  margin-left: -10px;
  margin-top: 13px;
  width: 20px;
  height: 20px;
}
.deleteInfo label{
  font-size:12px;
}
.tables{
  display:flex;
}
.updateInfo label{
  font-size:12px;
}
.column1 .label {
  display: inline-block;
  font-family: "Poppins";
  margin-left: 10px;
  margin-top: 11px;
  font-weight: bold;
  font-size: 17px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 20%;
}
.defective-text {
  color: red;
}
.column1 .label.active {
  color: #c00000;
}
.upper5 {
  margin-top: 10px;
  font-weight: bolder;

  width: 100%;
}
.column1 .label .inactive {
  color: black;
}
.logo1 {
  margin-left: 25px;
  display: flex;
}
.DB {
  display: block;
  margin-right: auto;
  position: relative;
  width: 70px;
}
.w {
  color: #c00000;
  margin-left: 25px;
}
.w2 {
  color: #c00000;
  font-size: 27px;
}
.w3 {
  position: absolute;

  color: #c00000;
  margin-left: 27px;
}
.selection {
  color: #8d8989;
  border: 1px solid #eee5e5;
  cursor: pointer;
}
.Techno {
  font-size: 20px;
  margin-top: -20px;
}
.Techno2{
  font-size: 15px;
}
.Warning {
  display: flex;
  width: 75px;
  height: auto;
  margin-left: 200px;
}
.closeButton2 {
  float: right;
  font-size: 20px;
  font-weight: bold;
  background: #eecaca;
  color: #141414;
  text-align: center;
  line-height: 13px;
  border-radius: 50px;
  cursor: pointer;
}
.closeButton {
  float: right;
  font-size: 20px;
  font-weight: bold;
  background: #eecaca;
  color: #141414;
  text-align: center;
  line-height: 13px;
  border-radius: 50px;
  cursor: pointer;
}
.closeButton3 {
  float: right;
  font-size: 20px;
  font-weight: bold;
  background: #eecaca;
  color: #141414;
  text-align: center;
  line-height: 13px;
  border-radius: 50px;
  cursor: pointer;
}
.closeButton4 {
  float: right;
  font-size: 20px;
  font-weight: bold;
  background: #eecaca;
  color: #141414;
  text-align: center;
  line-height: 13px;
  border-radius: 50px;
  cursor: pointer;
}
.QR {
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: 290px;
  margin-top: 10px;
}
.Qrtitle {
  margin-right: 30px;
  text-align: center;
}
.textabout {
  font-family: "Poppins";
  margin-top: -30px;
  font-size: 19px;
}
.textrole {
  margin-top: -26px;
  font-size: 13px;
  color: #c00000;
  font-family: 'Poppins';
}
.card {
  position: absolute;
  margin-left: 5%;
  margin-top: 5%;
  height: 88%;
  width: 92%;
}
.profile3 {
  margin-top: -13px;
}
.upper1_1{
  display:flex;
}
.val1{
  display:flex;
  width:100%;
  margin-left:20%;
  margin-right:20%;
}
.modcontainer{
  border: 2px solid rgb(182, 96, 96);
  display:flex;
  margin-top:10%;
}
.itemcenterthing1{
  margin-top:5%;
}
.itemcenterthing2{
  border-left:2px solid rgb(182, 96, 96);
  margin-left:5%;
  width:100%;
}
.num1{
  margin-top:11%;
}
