
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/angular/angular.js"></script>
  <title>Document</title>
</head>
<body ng-app="myApp" ng-controller="myController" >
  <div class="container">
    <div class="column1" *ngIf="showContent1">
      <div class="body1">

        <div class="container1">
          <img src="assets/Logo.png" alt="BsuLogo">
          <p>Center of Technopreneurship and Innovation</p>
        </div>

        <div class="container2">
          <h1>Login</h1>
          <p>Inventory Management System</p>
        </div>

        <div class="container3">
          <div class="text-with-lines">
            <span class="line"></span>
            <span class="text">or Sign in with Email</span>
            <span class="line"></span>
          </div>
        </div>

        <div class="container4">
          <form method="post" form [formGroup]="accounts">
            <label class="textlabel">Email*</label> <br>
            <input class="textbox"placeholder="Enter your E-mail" id="email"name="email" formControlName="email">
            <br>
            <br>
            <label class="textlabel">Password*</label> <br>
            <input  class="textbox"placeholder="Confirm your password" id="password"name="password" formControlName="password" type ="password">
            <br>
            <input type="checkbox" id="myCheckbox">
            <label for="myCheckbox">Remember Me</label>
            <label class="fg">Forgot Password?</label>
            <br>

            <button class="login" name ="button1" (click)="login()">Login</button>
            <label class="shesh">Not registered yet?<label style="color:blue;" (click)="toggleContent('content2')"> Create an Account</label></label>
          </form>
        </div>
      </div>
    </div>
    
    <div class="column1" *ngIf="showContent2">
      <div class="body1">

        <div class="container1">
          <img src="assets/Logo.png" alt="BsuLogo">
          <p>Center of Technopreneurship and Innovation</p>
        </div>

        <div class="container2">
          <h1>Sign Up</h1>
          <p>Inventory Management System</p>
        </div>

        <div class="container3">
          <div class="text-with-lines">
            <span class="line"></span>
            <span class="text">or Sign in with Email</span>
            <span class="line"></span>
          </div>
        </div>

        <div class="container4">
          <form method="post" form [formGroup]="accounts">
            <label class="textlabel">Name*</label> <br>
            <input class="textbox"placeholder="Enter your name" id="name"name="name" formControlName="name">
            <br>
            <br>
            <label class="textlabel">Email*</label> <br>
            <input class="textbox"placeholder="Enter your E-mail" id="email"name="email" formControlName="email">
            <br>
            <br>
            <label class="textlabel">Password*</label> <br>
            <input  class="textbox"placeholder="Confirm your password" id="password"name="password" formControlName="password" type ="password">
            <br>
            <br>
            <label for="position" class="textlabel">Position*</label> <br>
           <select id="position" formControlName="position" class="textlabel" >
            <option disabled selected value="" >Choose your position:</option>
              <option value="admin">Admin</option>
              <option value="user">User</option>
            </select>
            <br>
            <input type="checkbox" id="myCheckbox">
            <label for="myCheckbox" required>I agree on <label  style="color:blue;">Terms & Conditions</label></label>

            <br>

            <button class="login" name ="button1" (click)="signup()" >Sign Up</button>
            <label class="shesh">Already have account?<label style="color:blue;" (click)="toggleContent('content1')"> Sign In</label></label>
          </form>
        </div>
      </div>
    </div>
    <div class="column2">
      <img class="bg" src="assets/1 - CTI Office.jpg" alt="BsuLogo" >
    </div>
    </div>

    
</body>
</html>
